*{
    margin: auto 0%;
    padding: 0;
}
.bg2 img {
    height: 150vh;
    width: 100%;
    background: cover;
    margin-top: 0%;
    position: absolute;
}
.container {
    width: 50%;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    color: rgb(24, 36, 2);
   
    box-sizing: border-box;
    padding: 3px;
    margin: 30px auto 0px auto;
  
    position: relative;
}
.justify-center {
    width: 100%;
}
.choice-container {
    color: black;
    width: 80%;
    background: whitesmoke;
    font-size: 1rem;
    background-size: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 0%;
    margin-bottom: 1rem;
    
    box-sizing: border-box;
    position: relative;
}
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.05);
   
} 
#question {
    font-size: 30px;
    text-align: center;
    margin: 85px 0px 25px 0px;

}
.choice-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#quiz {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-top: 50px;
}
#progressText {
    padding-bottom: 5px;
}

#col-6 .score {
    margin-top: 3rem;
}

.quiz-score-no {
   text-align: center;
}

.correct {
    background: linear-gradient(32deg, rgba(11,223,36,1) 0%, rgb(41,232,111,1) 100%);
}
.incorrect {
  background: linear-gradient(32deg, rgba(230,29,29,1) 0%, rgb(224,11,11,1) 100%);
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

#progressBar {
    width: 15rem;
    height: 1rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 20px;
    border-radius: 50px;
    overflow: hidden;
}

#game {
    margin-top: 8rem;
}

.btn-home {
    font-size: 50px;
}

.btn {
    width: 50%;
    font-size: 1.5rem;
    font-family: 'Shizuru', cursive;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: black;
    background:#ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
    padding: 3px;
    margin: 10px auto;
}

.btn-position {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-items: center;
   
    padding: 3px;
    margin: 10px auto 0px auto;
    margin-right: auto;
    margin-left: auto;

    position: relative;
}

/* media query
/* For larger to medium screens size from 700px wide and down */ 
@media screen and (max-width: 700px) {
    #quiz {
        display: inline-block;
        font-size: 2rem;
        margin-top: 50px;
    }
    .quiz-score-no {
        display: inline-block;
        font-size: 2rem;
    
    }

    #progressBar {
        width: 10rem;
    }

    
}