body {
    background: linear-gradient( coral 0.3%, orange);
    height: 100vh;
}
.icon {
    display: inline-block;
    font-size: 300px;
    color: rgb(58, 7, 105);
    margin-top: 5%; 

}

.container {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-items: center;
   
    margin-right: auto;
    margin-left: auto;

    position: relative;
}
 h1 {
    margin-bottom: 0%;
 }

#quizScore {
    font-size: 40px;
    margin-top: 0%;
}

.btn {
    width: 50%;
    font-size: 1.5rem;
    color: black;
    background: linear-gradient(rgb(224, 228, 227), rgb(58, 7, 105)) 0.3%;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px;
    margin: 10px 10px 0 0;
    
}

.btn-position {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-items: center;
   
    padding: 3px;
    margin: 10px auto 0px auto;
    margin-right: auto;
    margin-left: auto;

    position: relative;
}

/* media query
/* For screens size from 500 wide and down */
@media screen and (max-width: 500px) {
    .icon {
        display: inline-block;
        font-size: 150px;
        margin-top: 65%; 
    }
    
    #quizScore {
        font-size: 40px;
    }
    
    h1 {
        font-weight: 400;
        font-size: 25px;
    }
    .btn {
        width: 50%;
        font-size: 1rem;
    }
    
    .btn-position {
        width: 50%;
        padding: 3px;
        margin: 10px auto 0px auto;
    }
}    