.bg2 img {
    min-heighth: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.container {
    width: 50%;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: rgb(219, 215, 215);
   
   
    box-sizing: border-box;
    padding: 3px;
    margin: 30px auto 0px auto;
    display: block;
    position: relative;
}

.choice-container {
    color: black;
    width: 50%;
    background: whitesmoke;
    font-size: 1rem;
    background-size: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
   
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.choice-text {
    padding-left: 5px;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
    text-align: start;
}

