body {
    min-height: 100vh;
    background-image: url(../images/leaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.heading {
    width: 50%;
    font-size: 5rem;
    font-family: 'Shizuru', cursive;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: rgb(219, 215, 215);
   
    border: 6px dotted rgb(219, 215, 215) ;
    box-sizing: border-box;
    padding: 3px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.content {
    font-family: 'Shizuru', cursive;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: rgb(219, 215, 215);
    font-size: 30px;

    background-color: #283618;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.flex-column {
    display: flex;
    flex-direction: columnxs;
}
.flex-column {
    justify-content: center;
    align-items: center;
}