*{
    margin: auto 0%;
    padding: 0;
}
.bg2 img {
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: auto 0%;
    position: absolute;
}
.container {
    width: 50%;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    color: #ffffff;
   
    box-sizing: border-box;
    padding: 3px;
    margin: 20px auto 0px auto;
  
    position: relative;
}

.choice-container {
    color: black;
    width: 80%;
    background: linear-gradient(#ffffff, rgb(233, 29, 90)) 0.3%;
    font-size: 1rem;
    background-size: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 0%;
    margin-bottom: 1rem;
    
    box-sizing: border-box;
    position: relative;
}
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: linear-gradient(#ffffff, rgb(233, 29, 90)) 0.3%;
} 
#question {
    font-size: 30px;
    text-align: center;
    margin-top: 20px 5px;
}
.choice-text {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}
#quiz {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-top: 30px;
}
.quiz-score {
   margin-top: 25px;
}
.quiz-score-no {
   text-align: center;
}

.correct {
    background: green;
}
.incorrect {
    background: red;
}

#progressBar {
    width: 15rem;
    height: 1rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 10px;
    border-radius: 50px;
    overflow: hidden;
    
}
#progressBarFull {
    height: 100%;
}

.btn {
    width: 50%;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: black;
    background: linear-gradient(#ffffff, rgb(233, 29, 90)) 0.3%;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
    padding: 3px;
    margin: 10px auto;
    
}